.post-container {
    width: 385px;
    margin: 40px 25px 40px 25px;
    display: flex;
    flex-direction: column;
}

.post-title {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: 30px;
    cursor: pointer;
}

.post-text {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}